.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a{
  text-decoration: 'none';
  color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;