.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a{
  text-decoration: 'none';
  color: black;
}

.container {
  padding: 20px;
  background-color: #f5f5f5;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.font-serif {
  font-family: 'Serif', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
